$bp-white: #ffffff;
$bp-gray: #6e6e73;
$bp-gray2: #b4b4bd;
$bp-gray-white: #f4f6f9;
$bp-gray-white2: #ebedf2;

$bp-primary-yellow: #ffdd00;
$bp-primary-yellow2: #fff199;
$bp-primary-yellow3: #ffc500;

$bp-primary-blue: #0f265c;
$bp-primary-blue2: #5777c6;
$bp-primary-blue3: #030c2d;
