// src/app/shared/styles/_variables.scss


$bp-white: #ffffff;
$bp-gray: #6e6e73;
$bp-gray-white: #f4f6f9;
$bp-gray-white2: #ebedf2;

// Primary Yellow

$bp-primary-yellow: #ffdd00;
$bp-primary-yellow2: #fff199;
$bp-primary-yellow3: #ffc500;

// Primary blue

$bp-primary-blue: #0f265c;
$bp-primary-blue2: #e7e9ee;
$bp-primary-blue3: #030c2d;
