.search-container{
    margin-bottom: 20px;
}


@media screen and (max-width: 850px) {
    .search-container {
        button{
            margin-bottom: 30px;
        }
        padding: 20px;
        flex-direction: column-reverse;
    }
}