<div class="df-center">
    <div class="card">
        <div class="header">
            <button class="back-button" (click)="goBack()" aria-label="Volver a la página anterior">
                <span aria-hidden="true">&larr;</span> Volver
            </button>
            <h1 class="title2">Formulario de registro</h1>
        </div>
        <hr>
        <form class="form" [formGroup]="form">
            <div class="df-between">
                <app-bp-input class="full-width" formControlName="id">
                    <label bp-label>ID</label>
                </app-bp-input>
                <app-bp-input class="full-width" formControlName="name">
                    <label bp-label>Nombre</label>
                </app-bp-input>
            </div>
            <div class="df-between">
                <app-bp-input class="full-width" formControlName="description">
                    <label bp-label>Descripción</label>
                </app-bp-input>
                <app-bp-input class="full-width" formControlName="logo">
                    <label bp-label>Logo</label>
                </app-bp-input>
            </div>
            <div class="df-between">
                <app-bp-input class="full-width" [type]="'date'" formControlName="date_release">
                    <label bp-label>Fecha Liberación</label>
                </app-bp-input>
                <app-bp-input class="full-width" [type]="'date'" [disabled]="true" formControlName="date_revision">
                    <label bp-label>Fecha Revisión</label>
                </app-bp-input>
            </div>
            <div class="df-center">
                <button class="button_cancel" (click)="restart()">Reiniciar</button>
                <button class="button_primary" (click)="onSubmit()"
                    [ngClass]="{'button_primary_disabled': form.invalid}">Enviar</button>
            </div>
        </form>
    </div>
</div>